body {
    font-family: verdana, arial, helvetica, sans-serif;
}
div.olMap.x-panel-body {
    background-color: #DDD;
}
.olImageLoadError {
    background-color: transparent;
}
.x-btn .navigation {
    background-image: url(img/geosilk/pan.png);
}
.x-btn .measure-area {
    background-image: url(img/geosilk/ruler_square.png);
}
.x-btn .measure-distance {
    background-image: url(img/geosilk/ruler.png);
}
.x-panel-body .legend img {
    display: block;
}
img.x-tree-node-icon {
    display: none;
}
.x-tree-node-loading img.x-tree-node-icon {
    display: inline;
    float: right;
    margin: 2px;
}
.olFramedCloudPopupContent {
    font-size: 8pt;
}
.olControlPermalink {
    top: 5px;
    bottom: auto;
    font-size: 8pt;
}
.olControlScaleLine {
    font-weight: bold;
    bottom: 33px;
}
div.olControlMousePosition {
    left: 10px;
    right: auto;
    bottom: 18px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 8pt;
}
div.mouseposition-m15 {
    left: 10px;
    right: auto;
    bottom: 3px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 8pt;
}
.olControlAttribution {
    bottom: 3px;
    font-size: 8pt;
    width: 500px;
    text-align: right;
}
.olBingAttribution img {
    position: relative;
    left: 18px;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    background-image: url(img/north-mini.png);
    filter: alpha(opacity=90);
}
.olControlPanPanel .olControlPanEastItemInactive {
    background-image: url(img/east-mini.png);
}
.olControlPanPanel .olControlPanSouthItemInactive {
    background-image: url(img/south-mini.png);
}
.olControlPanPanel .olControlPanWestItemInactive {
    background-image: url(img/west-mini.png);
}
.olControlZoomPanel .olControlZoomInItemInactive {
    background-image: url(img/zoom-plus-mini.png);
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    background-image: url(img/zoom-world-mini.png);
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    background-image: url(img/zoom-minus-mini.png);
}
.maximizeDiv {
    background-image: url(img/layer-switcher-maximize.png);
}
.maximizeDiv img {
    display: none;
}
.olControlLayerSwitcher {
    width: 180px;
}
.olControlLayerSwitcher .layersDiv, .layerinfo {
    font-size: 8pt;
    font-weight: normal;
    background-color: #CE0000;
    padding: 5px 20px 5px 5px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.olControlLayerSwitcher .layersDiv .dataLbl,.baseLbl {
    font-weight: bold;
    margin-bottom: 0px;
}
.olControlLayerSwitcher .dataLayersDiv {
    width: 15.5em;
}
.queryable {
    position: relative;
    float: right;
    top: 0;
    top: expression('-16px');
    right: 5px;
    right: expression('-10px');
    width: 16px;
    height: 16px;
    background-image: url(img/information.png);
}
.labelSpan {
    cursor: pointer;
}
.layerinfo {
    margin: 3px;
    z-index: 1015;
    position: absolute;
    top: 25px;
    right: 17em;
    right: expression('17.8em');
    width: 16.5em;
    width: expression('19em');
    color: white,
    font-family: sans-serif;
}
.layerinfo h2 {
    color: white;
    font-size: 10pt;
    margin-top: 0;
}
.layerinfo p {
    color: white;
    font-size: 8pt;
}
.layerinfo-content {
    max-height: 369px;
    width: 100%;
    margin-right: 18px;
    margin-right: expression("0");
    height: expression(this.scrollHeight > 369 ? "369px" : "auto");
    overflow-x: hidden;
    overflow-y: auto;
}
.layerinfo .closelayerinfo {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 0;
    width: 18px;
    height: 18px;
    background-image: url(img/layer-switcher-minimize.png);
}
.layerlegend {
    border-right: 12px;
}

.layerlegend div {
    background-color: white;
    width: 100%;
    padding-right: 15px;
    padding-right: expression("0");
}
